@use './colors' as *;
@import './animate';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-padding-top: 80px;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', 'sans-serif';
	background-color: $bg-color;
}

h2 {
	// color: $black;
	text-transform: uppercase;
	text-align: center;
}
.underline {
	margin: 0 auto 40px;
	width: 70px;
	height: 4px;
	background-color: $main-color;
}
.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
}

nav {
	text-transform: uppercase;
	transition: background-color 0.6s;
	z-index: 1;

	.logo {
		height: 40px;
		width: 40px;
	}
	.logo-bottom {
		position: absolute;
	}

	.logo-top {
		position: relative;

		transition: opacity 0.3s ease-in-out;
	}

	.fa-bars {
		padding: 10px;
		color: $white;
	}
	.nav-link {
		color: $white;
		transition: color 0.3s;
	}
	.nav-link:hover {
		color: $main-color;
	}
	span.nav-link {
		display: none;
	}
}
.navbar-nav .nav-link.active {
	color: $main-color;
}

a.navbar-brand {
	font-size: 16px;
	text-align: center;
}
a.navbar-brand:hover {
	.logo-top {
		opacity: 0;
	}

	span.nav-link {
		color: $main-color;
	}
}
.navbar {
	padding: 5px 0 !important;
}
header {
	color: $white;

	h1 {
		font-size: 30px;
		text-transform: uppercase;
	}
	p {
		font-size: 14px;
	}
	.hero-img {
		position: relative;
		height: 100vh;
		background-image: url(../img/wallpen-small.jpg);
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		z-index: 0;
	}
	.hero-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: -10;
	}
	.hero-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		padding: 10px;
		text-align: center;
		z-index: 2;

		span {
			color: $main-color;
		}
	}
	.btn-outline-light {
		text-transform: uppercase;
	}
	.fa-solid {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 20px;
		font-size: 30px;
		color: $white;
	}
}

.aboutus {
	i {
		margin-top: 20px;
		font-size: 30px;
	}
	.aboutus-card-title {
		font-size: 18px;
		text-transform: uppercase;
	
		margin: 0px 14px 4px;
	}
	.aboutus-card-text {
		font-size: 14px;
		margin: 0px 16px 16px;
		text-align: center;
	}
	.card-body {
		background-color: $bg-color;
		width: 90%;
		height: 90%;
		transform: translate(5%);
	}
	.aboutus-card-title:hover {
		cursor: pointer;
	}
	.aboutus-hover{padding-right: 0px;	
		padding-left: 10px;
	}
	.row {
		width: 100%;
	}
}
.aboutus-hover:hover {
	color: $main-color;
	cursor: pointer;

	.aboutus-card-text {
		color: $main-color;
	}
	.card-body {
		color: $black;
	}
}

.aboutus-hero {
	position: relative;
	background-image: url('../img/brick-image-small.jpg');
	background-position: center;
	background-size: cover;
	color: #ddd;
	z-index: 0;
	.aboutus-shadow {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -5;
	}
	.aboutus-hero-item {
		margin: 10px 0;
		i {
			font-size: 36px;
		}
		.aboutus-hero-title {
			font-size: 24px;
		}
	}
}

.portfolio {
	.carousel slide {
		width: 800px;
		height: 20px;
	}
	.carousel-item {
		margin-top: 10%;
		position: relative;
	}

	h5 {
		a {
			color: $white;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: bolder;
		}

		a:hover {
			color: $main-color;
		}
	}

	.carousel-caption {
		position: absolute;
		background-color: rgba(0, 0, 0, 0.5);
		left: 0;
		right: 0;
	}
	.carousel-control-next-icon {
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 35%;
	}
	.carousel-control-prev-icon {
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 35%;
	}
}

.cooperation {
	height: 100vh;
}
.contact {
	height: 100vh;

	h3 {
		text-transform: uppercase;
	}
	a {
		text-transform: uppercase;
		text-decoration: none;

		color: $black;
	}

	p.media:hover {
		color: $main-color;

		transition: scale 0.5s;
		i {
			color: $main-color;
		}
		a {
			color: $main-color;
		}
	}
}

a.faqhiper {
	color: $main-color2;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}

.faq {
	height: 100vh;
	color: $black;
}

@media (min-width: 375px) {
	header {
		h1 {
			font-size: 34px;
		}
		p {
			font-size: 14px;
		}
	}
}

@media (min-width: 768px) {
	header {
		h1 {
			font-size: 42px;
		}
		p {
			font-size: 20px;
		}
	}
}

@media (min-width: 992px) {
	nav {
		height: 80px;
		span.nav-link {
			display: block;
		}
	}
}
@media (min-width: 1200px) {
	header {
		.hero-img {
			background-image: url(../img/wallpen-big.jpg);
		}
	}
	.aboutus-hero {
		background-image: url('../img/brick-Image.png');
	}
}
